[submodule "Libs/Record"]
	path = Libs/Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "Libs/MessageClient"]
	path = Libs/MessageClient
	url = https://github.com/outlawdesigns-io/MessageClient
[submodule "Libs/Mp3Reader"]
	path = Libs/Mp3Reader
	url = https://github.com/outlawdesigns-io/Mp3Reader
[submodule "Libs/ComicVine"]
	path = Libs/ComicVine
	url = https://github.com/outlawdesigns-io/ComicVine
[submodule "Libs/Archive"]
	path = Libs/Archive
	url = https://github.com/outlawdesigns-io/Archive
[submodule "Libs/IMDB"]
	path = Libs/IMDB
	url = https://github.com/outlawdesigns-io/IMDB
[submodule "Libs/WebAccessClient"]
	path = Libs/WebAccessClient
	url = https://github.com/outlawdesigns-io/WebAccessClient
