################################################################################################################################
# CHEAT SHEET
# MIN HOUR DOM MON DOW CMD
# Field    Description    Allowed Value
# MIN      Minute field    0 to 59
# HOUR     Hour field      0 to 23
# DOM      Day of Month    1-31
# MON      Month field     1-12
# DOW      Day Of Week     0-6
# CMD      Command         Any command to be executed.
################################################################################################################################
SHELL=/bin/bash
TZ="America/Chicago"
0 0 * * * /opt/scripts/cronWrapper.sh 6 "(time php /var/www/html/Libs/LOEServer/Processes/Jobs/UpdatePlayCounts.php)" "/tmp/songCount"
0 5 * * * /opt/scripts/cronWrapper.sh 7 "(time php /var/www/html/Libs/LOEServer/Processes/Jobs/UpdatePlayHistory.php)" "/tmp/songHistory"
0 0 1 * * /opt/scripts/cronWrapper.sh 8 "(time php /var/www/html/Libs/LOEServer/Processes/Jobs/DbHealthCheck.php {msgRecipient})" "/tmp/dbCheck"
0 1 1 * * /opt/scripts/cronWrapper.sh 9 "(time php /var/www/html/Libs/LOEServer/Processes/Jobs/FsHealthCheck.php {msgRecipient})" "/tmp/fsCheck"
#*/5 * * * * (time php /var/www/html/Libs/LOEServer/Processes/Jobs/ExtractArchives.php) >> /tmp/archiveErrors 2>&1
